*{
    margin: 0;
    padding: 0;
}
body {
    background-image: url(web1.jpg);
    background-size: cover; /* Makes the image cover the entire page */
    background-repeat: no-repeat; /* Prevents the image from repeating */
    background-position: center; /* Centers the image */
}

/*.main
{
    width: 100%;
    background-image:url(web1.jpg);                                         
    background-position: center;
    background-size: cover;
    height:109vh;
}*/
.navbar{
    width: 1200px;
    height: 75px;
    margin: auto;
}
.icon{
    margin-left:-100px;
    width: 500px;
    height: 70px;
    float:left;
}
.logo{
    color:rgb(237, 107, 21);
    font-size: 50px;
    font-family:Arial, Helvetica, sans-serif;
    padding-left: 20px;
    float:left;
    padding-top: 10px;
}
.menu{
    width: 480px;
    float: left;
    height: 70px;
}
ul{
    float:left;
    display:flex;
    justify-content: center;
    align-items:center;
}
ul li{
    list-style: none;
    margin-left: 62px;
    margin-top: 27px;
    font-size: 15px;
}
ul li a{
    text-decoration:none;
    color:aliceblue;
    font-family: Arial;
    font-weight: bold;
    transition: 0.4s ease-in-out;
}
ul li a:hover{
    color:gold;
}
.search{
    width: 330px;
    float: left;
    margin-left: 40px;
    margin-right: 100%;
    margin-top: 10px;
    margin-bottom: 40px;
}
.srch{
    font-family: 'Times New Roman';
    width: 200px;
    height: 40px;
    background:transparent ;
    border: 1px solid rgb(10, 243, 255);
    margin-top: 13px;
    border-right: none;
    color: aliceblue;
    font-size: 16px;
    float:left;
    padding:10px;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
    
}
.btn{
    width: 100px;
    height: 40pX;
    background:rgb(237, 107, 21);
    border: 2px solid rgb(10, 243, 255);
    margin-top: 13px;
    color: aliceblue;
    font-size: 16px;
    border-bottom-right-radius: 5px;
    border-bottom-right-radius: 5px;
}
.btn:focus{
    outline:none;
}
.srch:focus{
    outline:none;
}
.content{
    width:1200px;
    height:auto;
    margin-left: 200px;
    color:azure;
    position:relative;
    

}
.content .par{
    padding-left: 20px;
    padding-bottom: 25px;
    font-family: Arial;
    letter-spacing: 1.2px;
    line-height: 30px;
    margin-left: -20px;
    margin-top: 10px;
}
.content h1{
    font-family: 'Times New Roman';
    letter-spacing: 2px;
    font-size: 50px;
}
.content .cn{
    width:160px;
    height:40px;
    background-color: coral;
    border: none;
    font-size: 17px;
    border-radius: 5px;
    cursor: pointer;
    transition: .4s ease ;

}
.content .cn a{
    text-decoration: none;
    color: black;
    transition: .3s ease ;
}
.cn:hover{
    background-color:aliceblue;

}
.content span{
    color:coral;
    font-size: 60px;
}
.form{
    width:240px;
    height:360px;
    background:linear-gradient(to top,rgba(0,0,0,0.8)50%,rgba(0,0,0,0.8)50%);
    position:absolute;
    top:40px;
    Left:700px;
    border-radius: 20px;
    padding:25px;
    background-color:rgb(0, 238, 255);
    margin-top: 50px;
}
.form h2{
    width:220px;
    font-family:sans-serif;
    text-align: center;
    color:coral;
    background-color:ivory;
    border-radius:10px;
    font-size: 22px;
    margin: 2px;
    padding:8px;
}
.form input{
    width:240px;
    height:35px;
    background: transparent;
    border-bottom:1px solid rgb(255, 193, 37);
    border-top:none;
    border-left:none;
    border-right:none;
    color:aliceblue;
    font-size: 15px;
    letter-spacing: 1px;
    margin-top: 30px; 
    font-family: sans-serif;
}
.form input:focus{
    outline:none;
}
::placeholder{
    color:rgb(13, 255, 247);
    font-family:Arial;
}

.btnn{
    width:240px;
    height:40px;
    background:rgb(248, 112, 21);
    border:none;
    font-size: 20px;
    letter-spacing:1px;
    margin-top: 30px;
    border-radius: 10px;
    cursor:pointer;
    color:#fff;
}

.btnn:hover{
    background:#fff;
    color:#ff7200;
}
.btnn a{
    text-decoration: none;
    color:black;
    font-weight:bold;
}
.form .link{
    font-family: Arial, Helvetica, sans-serif;
    font-size:17px;
    padding-top:10px;
    text-align:center;
}
.form .link a{
    text-decoration:none;
    color:#ff7200;
}
.liw{
    padding-top: 15px;
    padding-bottom:10px;
    text-align:center;
}
.icon{
   padding-left: 95px;
}
.icon a{
text-decoration: none;
color:#fff;
}
.icon ion-icon{
    font-size: 30px;
    padding-left: 14px;
    padding-top: 5px;
    transition:.3s ease;
}
.icon ion-icon:hover{
    color:#ff7200;
    

}







